.page {
  padding: 2em;
  margin: 0 auto;
}

.form {
  display: grid;
  gap: 1em;
  justify-items: start;
}

.field {
  display: grid;
}

.preview {
  --border-width: 20px;
  box-sizing: border-box;
  position: relative;
  padding: 2px;
}

.preview > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.preview::after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--border-width) solid #8a2424;
  border-radius: 50%;
}
